@model List<SistemaVenda.Entities.Category>;

<h2>Categoria</h2>
<hr/>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Description</td>
                    <td>
                        <div>
                        <a role="button" class="btn btn-outline-success" asp-controller="Category">Editar</a>
                         <a role="button" class="btn btn-outline-danger"  asp-controller="Category">Apagar</a>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>
<a type="button" class="btn btn-outline-primary" asp-controller="Category" asp-action="Register"> Cadastrar nova categoria</a>
