@model SistemaVenda.Models.CategoryViewModel

<form asp-controller="Category" asp-action="Register" method="post">
    <input type="hidden" asp-for="Code" value="@Model.Code"/>
    <input type="text" asp-for="Description" value="@Model.Description" class="form-control" />
</form>