@model SistemaVenda.Models.CategoryViewModel

<form asp-controller="Category" asp-action="Register" method="post">
    <input type="hidden" asp-for="Code" value="@Model.Code"/>
    <div>
        <div class="col-4">
            <label>Descrição</label>
            <input type="text"  asp-for="Description" value="@Model.Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br />
        <div class="col">
            <button type="submit" class="btn btn-outline-success">Gravar</button>
            <a type="button"  class=" btn btn-outline-warning" asp-area="" asp-controller="Category" asp-action="Index">Voltar</a>
        </div>
    </div>  
</form>


