<div class="row" style=" text-align:center;">
    <div class="col-md-4">
        <div>
            <a asp-controller="Client" asp-action="Index"><img src="~/images/customers.png" width="150" height="150" /></a>
        </div>
        <span>Cliente</span>
    </div>
    <div class="col-md-4">
        <div>
            <a asp-controller="Category" asp-action="Index"><img src="~/images/categories.png" width="150" height="150" /></a>
        </div>
        <span>Categoria</span>
    </div>
    <div class="col-md-4">
        <div>
            <a asp-controller="Product" asp-action="Index"><img src="~/images/products.png" width="150" height="150" /></a>
        </div>
        <span>Produtos</span>
    </div>
</div>

<div class="row" style=" text-align:center">
    <div class="col-md-4">
        <div>
            <a asp-controller="Sale" asp-action="Index"><img src="~/images/sales.png" width="150" height="150" /></a>
        </div>
        <span>Vendas</span>
    </div>
    <div class="col-md-4">
        <div>
            <a asp-controller="Report" asp-action="Index"><img src="~/images/reports.png" width="150" height="150" /></a>
        </div>
        <span>Relátorios</span>
    </div>
    <div class="col-md-4">
        <div>
            <a asp-controller="Settings" asp-action="Index"><img src="~/images/settings.png" width="150" height="150" /></a>
        </div>
        <span>Configurações</span>
    </div>
</div>



 @*CRIAR UMA CLASSE CSS PARA SIMPLICAR O DESIGNER*@ 